body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div.navigationBar {
  margin: 0;
  padding: 0;
}

.navigationItem {
  margin-bottom: 0.5rem;
}

.navigationItems {
  list-style-type: none;
  background-color: #4b4b4b;
  margin-block: 0;
  padding-inline: 1.5rem;
}

.secondTopBar {
  list-style-type: none;
  display: flex;
  background: linear-gradient(135deg, #cf0a2b 0%, rgba(0, 0, 0, 0.3) 100%);
  margin: 0;
  opacity: 1;
}

header ul li {
  display: inline-block;
  padding: 0.2em;
}

header ul a,
span {
  color: white;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header span {
  display: block;
}

.firstItemTopBar {
  margin-left: 23rem;
}

.itemTopBar {
  list-style-type: none;
  display: inline-block;
  padding: 1rem 0.2rem;
}

.textTopBar {
  display: inline;
  padding: 0.5rem;
}

.firstItem {
  margin-bottom: 1rem;
  margin-left: 18rem;
  padding: 1rem;
  border-left: 0.05rem solid #eee;
  border-right: 0.05rem solid #eee;
}

.secondItem {
  margin-bottom: 1rem;
  align-items: center;
  padding: 1rem;
  border-right: 0.05rem solid #eee;
}

.linkNavigationBar {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.menuText {
  text-align: center;
}

.slide {
  position: relative;
}

.slideItem {
  display: none;
}

.slideItem1 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: transparent;
  background-position: center top;
  background-image: url("https://www.uvic.cat/sites/default/files/styles/slide_home/public/slider-web-uvic-v3_0.jpg?itok=w0067R9Y");
}

.slideText {
  color: white;
  text-decoration: none;
  text-align: center;
}

.slideImage2 {
  background-image: url("https://www.uvic.cat/sites/default/files/styles/slide_home/public/slide-ranquing-jove.jpg?itok=lbOT0kK9");
}

.slideImage3 {
  background-image: url("https://www.uvic.cat/sites/default/files/styles/slide_home/public/aaa_1.jpg?itok=377_z4Yj");
}

.slideImage4 {
  background-image: url("https://www.uvic.cat/sites/default/files/styles/slide_home/public/3800.2400_slide_0.jpg?itok=KYEZ0qLc");
}

.slideImage5 {
  background-image: url("https://www.uvic.cat/sites/default/files/styles/slide_home/public/slider-uvic-tornem-a-la-presencialitat-2021_0.jpg?itok=qwPxHujF");
}

.firstLine {
  background-color: black;
  height: 1px;
  padding: 0rem 2rem;
  margin-top: 105vh;
}

.line {
  padding: 0rem 2rem;
  background-color: black;
  height: 1px;
}
.title {
  text-align: center;
}
section h2 {
  display: inline;
  margin-left: 2rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
}
.cuadrosDestacamos {
  width: 100%;
}
.cuadroDestacamos {
  display: inline-block;
  margin: 2rem;
  padding: 1rem;
  max-width: 25%;
  background-color: #cf0a2c;
  color: whitesmoke;
  border-radius: 0.3rem;
}
.destacamosArrow {
  background-image: url("https://www.uvic.cat/sites/all/themes/uvictheme/images/icon-arrow-right-primary-white.png");
  float: right;
  display: block;
  height: 20px;
  width: 30px;
}
.titleh3 {
  text-align: center;
  text-decoration: underline;
}
.cuadrosNews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20rem;
  grid-gap: 1.5rem;
  padding: 1rem;
  margin: 0;
}
.cuadroNews {
  display: inline;
  background-color: #eee;
}

.cuadroNews a {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.cuadroNews p.date {
  font-size: 0.7rem;
  color: #cf0a2c;
}

.cuadroNews p.description {
  font-size: 0.7rem;
  color: #4b4b4b;
}

aside {
  width: 25%;
  padding: 0.3rem;
  margin: 0.5rem;
  float: right;
}

aside article.dates {
  background-color: #cf0a2c;
}

aside article.esdeveniments {
  display: inline;
  color: #cf0a2c;
}

aside .line {
  background-color: #fff;
}

.esdeveniments .line {
  background-color: #cf0a2c;
}

.titleAside {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: #fff;
}

.dateAside {
  padding: 0.5rem;
  font-weight: bold;
}

.textAside {
  padding: 0.5rem;
}

.noticies {
  color: #cf0a2c;
}

.noticies .line {
  background-color: #cf0a2c;
}
.contactanos {
  background: url("https://www.uvic.cat/sites/all/themes/uvictheme/images/img-bg-contact-rwd.jpg");
  height: 20rem;
  width: 100%;
  position: absolute;
  background-size: cover;
  display: block;
  text-align: center;
  color: white;
  margin-top: 10rem;
}
.titleContactanos {
  padding-top: 5rem;
}
.gradiente {
  margin-top: 0;
  background: linear-gradient(135deg, #cf0a2b 0%, rgba(0, 0, 0, 0.3) 100%);
  height: 20rem;
}
.botton {
  margin: 3rem;
  text-align: center;
}
.lineContactanos {
  padding: 0rem 2rem;
  background-color: white;
  height: 1px;
}
.botton a {
  padding: 0.8rem;
  border: 1px solid white;
  border-radius: 0.25rem;
}
